<h3>以下の内容で投稿する</h3>

<%= form_with(model: @post, url: posts_path, local: true) do |form| %>
  <%= form.hidden_field :text %>
  
  <p>画像:<%= image_tag @post.picture %></p>
  <%= hidden_field_tag :"cache[picture]", @post.picture.cache_name %>
  <p>テキスト:<%= @post.text %></p>
  <%= form.submit "登録する" %>
<% end %>

<%= form_with(model: @post, url: new_post_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :picture %>
  <%= form.hidden_field :text %>
  <%= form.hidden_field :picture_cache %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>